{% extends "base.html" %} {% load static %} {% block content %}

<!-- index.html content starts here -->
<!-- room search bar -->
<h2>Find the room for you</h2>
<form method="GET" action=".">
  <div class="row">
    <div class="col">
      <select id="category" class="form-control" name="room_type" aria-placeholder="Room Type">
        <option value="Any" selected>Any room type</option>
        <option value="Basic">Basic</option>
        <option value="Premium">Premium</option>
        <option value="Executive">Executive</option>
      </select>
    </div>
    <div class="col">
      <select id="category" class="form-control" name="bed_type" aria-placeholder="Bed Type">
        <option value="Any" selected>Any bed type</option>
        <option value="Single">Single Bed</option>
        <option value="Double">Double Bed</option>
        <option value="Queen">Queen Bed</option>
      </select>
    </div>
    <div class="col">
      <select id="category" class="form-control" name="view_type" aria-placeholder="View Options">
        <option value="Any" selected>Any View</option>
        <option value="City">City</option>
        <option value="Ocean">Ocean</option>
      </select>
    </div>
    <div class="col">
      <button type="submit" class="btn btn-primary">Search</button>
    </div>
  </div>
</form>

<!-- search results -->
<hr />
{% if queryset %}
<div class="container">
  <div class="row">
    <!-- Blog Entries Column -->
    <div class="col-12 mt-3 left">
      <div class="row">
        {% for room in queryset %}
        <div class="col">
          <div class="card mb-4" style="width: 20rem">
            <div class="card-body">
              <div class="card" style="width: 18rem">
                {% if "Basic" in room.room_type %}
                <img class="card-img-top" src="{% static 'images/basic_room/basicroom_1.jpg' %}"
                  alt="basic room image" />
                {% elif "Premium" in room.room_type %}
                <img class="card-img-top" src="{% static 'images/premium_room/premiumroom_1.jpg' %}"
                  alt="premium room image" />
                {% elif "Executive" in room.room_type %}
                <img class="card-img-top" src="{% static 'images/executive_room/executiveroom_1.jpg' %}"
                  alt="executive room image" />
                {% else %}
                <img class="card-img-top" src="{% static 'images/default.jpg' %}" alt="placeholder image" />
                {% endif %}
              </div>
              <div class="card-body">
                <!-- Room types -->
                <div class="d-flex justify-content-center">
                  <h5 class="card-title">{{ room.room_type }}</h5>
                </div>
                <div class="d-flex justify-content-center">
                  <h6 class="card-title mx-3">{{ room.bed_type }} Bed</h6>
                  <h6 class="card-title mx-3">{{ room.view }} View</h6>
                </div>
                {% if "Basic" in room.room_type %}
                <p class="card-text">
                  Sleep in safety, life on the road doesn't need to be rough.
                  Our basic rooms will keep you sleeping sound.
                </p>
                {% elif "Premium" in room.room_type %}
                <p class="card-text">
                  Sleep in a cloud, enjoy our premium rooms for your best nights
                  sleep. Access to the pool is included
                </p>
                {% elif "Executive" in room.room_type %}
                <p class="card-text">
                  For the most discerning guests, our exectuive rooms will have
                  you sleeping in complete comfort along with all the amenities
                  the hotel has to offer.
                </p>
                {% endif %}
                <!-- bed types -->
                {% if "Single" in room.bed_type %}
                <p class="card-text">Single bed, fit for the solo traveler.</p>
                {% elif "Double" in room.bed_type %}
                <p class="card-text">
                  Double bed, fit for the traveling couple.
                </p>
                {% elif "Queen" in room.bed_type %}
                <p class="card-text">
                  Queen bed, for thoes who enjoy the extra space.
                </p>
                {% endif %}
                <!-- view type -->
                {% if "City" in room.view %}
                <p class="card-text">City view, view the action of the beautiful city directly from your window.</p>
                {% elif "Ocean" in room.bed_type %}
                <p class="card-text">
                  Ocean view, relax and listen to the waves at night with the ocean directly out your window.
                </p>
                {% endif %}
                <div class="d-flex justify-content-center">
                  <a href="{% url 'room_detail' room.room_number %}" class="btn btn-primary">Book This Room!</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        {% if forloop.counter|divisibleby:3 %}
      </div>
      <div class="row">{% endif %} {% endfor %}</div>
    </div>
  </div>
</div>
{% else %}
<div class="d-flex justify-content-center">
  <p class="display-6 text-muted">Nothing to see here, make a new search</p>
</div>
{% endif %}
{% endblock %}