{% extends "base.html" %}
{% load static %}
{% block content %}

<!-- index.html content starts here -->
<!-- room search bar -->

 <h2> Find the room for you</h2>
 <form method="GET" action=".">
    <div class="row">
      <div class="col">
        <select id="category" class="form-control" name="room_type" aria-placeholder="Room Type">
            <option value="Any" selected>Any room type</option>
            <option value="Basic">Basic</option>
            <option value="Premium">Premium</option>
            <option value="Executive">Executive</option>
        </select>
      </div>
      <div class="col">
        <select id="category" class="form-control" name="bed_type" aria-placeholder="Bed Type">
            <option value="Any" selected>Any bed type</option>
            <option value="Single">Single Bed</option>
            <option value="Double">Double Bed</option>
            <option value="Queen">Queen Bed</option>
        </select>
      </div>
      <div class="col">
        <select id="category" class="form-control" name="view_type" aria-placeholder="View Options">
            <option value="Any" selected>Any View</option>
            <option value="City">City</option>
            <option value="Ocean">Ocean</option>
        </select>
      </div>
      <div class="col">
      <button type="submit" class="btn btn-primary">Search</button>
      </div>



    </div>

</form>

<!-- search results -->
 <hr />

<div class="container">
    <div class="row">
        <div>
            {% for room in queryset %}
            <div class="col-md-4">
                <div class="card mb-4">
                    <div class="card-body">
                        <div class="image-container">
                        </div>
                        <div class="card" style="width: 18rem;">
                            <img src="..." class="card-img-top" alt="...">
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">{{ room.room_type }}</h5>
                            <h6 class="card-title">{{ room.bed_type }}...{{ room.room_number }}</h6>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <a href="{% url 'room_detail' room.room_number %}" class="btn btn-primary">Book This Room!</a>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

<!-- index.html content ends here -->
{% endblock %}
{% block copyright %}
    Copyright 2023 Corey Davidson
{% endblock %}