{% extends "base.html" %} {% load static %} {% block content %}

<h2>Booking status for {{ user }}</h2>

<hr>
<div class="container">
  {% if booking %}

  <table class="table">
    <thead>
      <tr>
        <th scope="col">Booking Code</th>
        <th class="text-center" scope="col">User Name</th>
        <th class="text-center" scope="col">Room Number</th>
        <th class="text-center" scope="col">Room Type</th>
        <th class="text-center" scope="col">View</th>
        <th class="text-center" scope="col">Bed Type</th>
        <th class="text-center" scope="col">Start Date</th>
        <th class="text-center" scope="col">End Date</th>
        <th class="text-center" scope="col">Status</th>
        <th class="text-center" scope="col"></th>
        <th class="text-center" scope="col"></th>
      </tr>
    </thead>
    <tbody>
      {% for item in booking %}
      <tr>
        <th scope="row">{{ item.booking_code }}</th>
        <td class="text-center">{{ item.user_name }}</td>
        <td class="text-center">{{ item.room_number }}</td>
        <td class="text-center">{{ item.room_info.room_type }}</td>
        <td class="text-center">{{ item.room_info.view }}</td>
        <td class="text-center">{{ item.room_info.bed_type }}</td>
        <td class="text-center">{{ item.reserved_start_date }}</td>
        <td class="text-center">{{ item.reserved_end_date }}</td>
        <td class="text-center">{{ item.status }}</td>
        <td class="text-center">
          <a href="{% url 'edit_booking' item.booking_code %}" class="btn btn-secondary">Edit</a>
        </td>
        <td class="text-center">
          <a href="{% url 'delete_booking' item.booking_code %}" class="btn btn-secondary"
            onclick="return confirm('Are you sure you want to delete this booking?');">Delete</a>
        </td>
      </tr>
      {% endfor %}
    </tbody>

  </table>
  {% else %}
  <p class="display-6 text-muted">Nothing to see here, make a booking!</p>
  <div class="d-flex justify-content-center">
    <a href="{% url 'FilterList' %}" class="btn btn-secondary m-3">Back to Search</a>
  </div>
  {% endif %}
</div>
{% endblock %}