{% extends "base.html" %} {% load static %} {% block content %}

<!-- index.html content starts here -->
<!-- room search bar -->

<h2>Booking status for {{ user }}</h2>

<!-- search results -->
<hr />
<div class="container">
  {% if booking %}

  <table class="table">
    <thead>
      <tr>
        <th scope="col">Booking Code</th>
        <th class="text-center" scope="col">User Name</th>
        <th class="text-center" scope="col">Room Number</th>
        <th class="text-center" scope="col">Start Date</th>
        <th class="text-center" scope="col">End Date</th>
        <th class="text-center" scope="col">Status</th>
        <th class="text-center" scope="col"></th>
      </tr>
      </thred>
      {% for item in booking %}
    <tbody>
      <tr>
        <th scope="row">{{ item.booking_code }}</th>
        <td class="text-center">{{ item.user_name }}</td>
        <td class="text-center">{{ item.room_number }}</td>
        <td class="text-center">{{ item.reserved_start_date }}</td>
        <td class="text-center">{{ item.reserved_end_date }}</td>
        <td class="text-center">{{ item.status }}</td>
        <td class="text-center"><a href="/edit/{{ item.booking_code }}" class="btn btn-secondary">Edit</a></td>
      </tr>
    </tbody>
    {% endfor %}
  </table>
  {% else %}
  <p class="display-6 text-muted">Nothing to see here, make a booking!</p>
  {% endif %}
</div>
{% endblock %}