{% extends "base.html" %} {% load static %} {% block content %}

<!-- index.html content starts here -->
<!-- room search bar -->

<h2>Boooking status for {{ user }}</h2>

<!-- search results -->
<hr />
<div class="container">
  {% if booking %}

  <div class="row">
    <!-- Blog Entries Column -->
    <div class="col-12 mt-3 left">
      {% for item in booking %}
      <ul>
        <li>Customer Name: {{ item.user_name }}</li>
        <li>Booking Code: {{ item.booking_code }}</li>
        <li>Room Number: {{ item.room_number }}</li>
        <li>Reserved Start Date: {{ item.reserved_start_date }}</li>
        <li>Reserved End Date: {{ item.reserved_end_date }}</li>
      </ul>
      {% endfor %} {% else %}
      <h3 class="text-muted">Nothing to see here, make a booking with us!</h3>
    </div>
  </div>
  {% endif %}
</div>
{% endblock %}
